@model RoofSafety.Models.Inspection

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inspection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InspectionDate" class="control-label"></label>
                <input asp-for="InspectionDate" class="form-control" />
                <span asp-validation-for="InspectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectorID" class="control-label"></label>
                <select asp-for="InspectorID" class="form-control" asp-items="@(new SelectList(ViewBag.InspectorID, "Value", "Text"))"></select>
            </div>

            <div class="form-group">
                <label asp-for="Areas" class="control-label"></label>
                <input asp-for="Areas" class="form-control" />
                <span asp-validation-for="Areas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestingInstruments" class="control-label"></label>
                <input asp-for="TestingInstruments" class="form-control" />
                <span asp-validation-for="TestingInstruments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingID" class="control-label"></label>
                <select asp-for="BuildingID" class="form-control" asp-items="@(new SelectList(ViewBag.BuildingID, "Value", "Text"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="InspectionsForBuilding" asp-route-id="@Model.BuildingID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
