<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ee475141-c5cc-4430-b259-b6e3ad45a106/resourceGroups/PerthCityCranesResource/providers/Microsoft.Web/sites/RoofSafetySolutions</ResourceId>
    <ResourceGroup>PerthCityCranesResource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://roofsafetysolutions.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://roofsafetysolutions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$RoofSafetySolutions</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>