@page
@model RoofSafety.Pages.InvoiceModel
@{

    <html>
    <body>
    <a target="other" href="@String.Format("https://go.xero.com/app/!n1zzZ/quotes/edit/{0}", Model.XeroQuoteID.ToString())">Quote</a>
    </body>
    </html>
}
